@charset "utf-8";

/* CSS Document */

@import url("http://fonts.googleapis.com/earlyaccess/notosanstc.css");

/*首頁*/

body {
    color: #333;
    font-family: Verdana, Noto Sans CJK TC !important;
    font-size: 1.5rem;
    background-size: cover;
    background-color: #fff;
    margin: 0;
    padding: 0;
}

.body2 {
    color: #333;
    font-family: Verdana, Noto Sans CJK TC !important;
    font-size: 1.5rem;
    background-size: cover;
    background-color: #000;
    overflow-x: hidden;
}

.aa {
    background: url(../img/white.jpg) no-repeat top center;
    width: 100%;
    height: 1273px;
}

.banner1 {
    background: url(../img/banner1.svg) no-repeat top center;
    width: 100%;
    height: 483px;
    float: left;
    margin-top: 168px;
}

.news1 {
    margin-top: 31px;
    text-align: center;
}

.bb {
    background: #000 url(../img/black_gold.jpg) no-repeat top center;
    width: 100%;
    height: 1400px;
}

.banner2 {
    background: url(../img/black_banner.svg) no-repeat top center;
    width: 100%;
    height: 483px;
    margin-top: 103px;
    float: left;
}

.banner3 {
    background: url(../img/black_banner2.svg) no-repeat top center;
    width: 100%;
    height: 483px;
    margin-top: 103px;
    float: left;
}

.banner4 {
    background: url(../img/black_banner3.svg) no-repeat top center;
    width: 100%;
    height: 483px;
    margin-top: 103px;
    float: left;
}

.news2 {
    margin-top: 57px;
    text-align: center;
}